# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Logs
*.log

# OS
Thumbs.db
.DS_Store


# Secrets
appsettings.Development.json
appsettings.json
secrets.json
.env

# # Migrations
# **/Migrations/

# Build and Publish
bin/
obj/
publish/
dist/
artifacts/

# Visual Studio
.vs/
*.user
*.suo
*.sln.docstates

# IDEs
.vscode/
.idea/

# OS and Temp
Thumbs.db
.DS_Store
*.tmp
*.log

# Packages
node_modules/
packages/

