@{
    ViewData["Title"] = "Lecturer Dashboard";
}

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Lecturer Dashboard</h1>
        <p class="lead">Welcome, Professor!</p>
        <hr class="my-4">
        <p>You can manage your students' projects and submissions here.</p>
    </div>
</div>
